@{
    ViewBag.Title = "Helping us recognise each other";
}
<h2>@ViewBag.Title</h2>

<p>
    During our weekly team meetings at <a href="http://intergenusa.com">Intergen</a>,
    we like recognise our fellow colleagues for noteworthy things they've done
    throughout the week - brilliant or bone-headed. Since we don't have the
    pleasure of being in the same room, we use kudogen: kudos at Intergen :)
</p>

<p>
    We've released kudogen as open source to make it easy for others to recognise
    each other too. Just head over to
    <a href="https://github.com/IntergenUSA/kudogen">the github repository</a>
    to fork it and suit it to your needs. If you have any
    questions, feel free to post an
    <a href="https://github.com/IntergenUSA/kudogen/issues">issue</a>. And if you
    have an improvement, by all means, submit a pull request.
</p>

<p>Enjoy!</p>
