<section class="mainbar" data-ng-controller="admin as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="team-members" data-ng-repeat="m in vm.teamMembers">
                    <div class="team-member">
                        <span>{{m.name}}</span> &lt;<span>{{m.email}}</span>&gt;
                        Admin: <input type="checkbox" data-ng-model="m.isAdmin" />
                        Approved: <input type="checkbox" data-ng-model="m.isApproved" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="available-awards" data-ng-repeat="a in vm.awards">
                    <div class="award">
                        <div><strong>{{a.name}}</strong></div>
                        <div>Type: {{a.winnerType}}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
